.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #d5e1ef;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.container {
  max-width: 300px;
  margin: 0 auto;
}

.card {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}
.card img {
  border-radius: 15px;
  width: 100%;
}
.text {
  text-align: center;
  padding-bottom: 20px;
}
.text p {
  padding: 9px;
  font-size: 1rem;
  color: #7d889e;
}
